# 🔒 Не отслеживать файл с логином/паролем
.env

# 🧪 Виртуальное окружение
venv/

# 🐍 Кэш Python
__pycache__/
*.py[cod]
*.pyo

# 📦 Файлы среды
*.env
*.egg-info/

# 🧪 Pytest и временные файлы
*.log
.cache/
